<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Parcial 01
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row *ngFor="let dat of data">
    {{data.nombre}}
    {{data.color}}
  </ion-row>
</ion-content>
