<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Parcial 01
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let dat of data">
    {{data.nombre}}
     {{data.edad}}

  </ion-card>
</ion-content>

